/*
 * Define application theme
 *
 * See the documentation for details:
 * https://docs.webforj.com/docs/styling/overview
 */

/* :root {
  --dwc-color-primary-seed: #008060;
} */

dwc-app-layout {
  --dwc-app-layout-header-height: 4rem;
}

dwc-app-layout:not(:focus-within),
dwc-app-layout:not(:focus-within)::part(header),
dwc-app-layout:not(:focus-within)::part(footer) {
  transition: none !important;
}
