/*
 * Define application theme
 *
 * See the documentation for details:
 * https://docs.webforj.com/docs/styling/overview
 */

/* :root {
  --dwc-color-primary-seed: #008060;
} */

dwc-app-layout {
  --dwc-app-layout-header-height: 4rem;
  transition: padding-left var(--dwc-transition), padding-right var(--dwc-transition);
}
