/*
 * Define application theme
 *
 * See the documentation for details:
 * https://docs.webforj.com/docs/styling/overview
 */

/* :root {
  --dwc-color-primary-seed: #008060;
} */

dwc-app-layout {
  --dwc-app-layout-header-height: 4rem;
  --dwc-app-layout-footer-height: 5rem;
}

dwc-app-layout::part(footer) {
  background: transparent;
  border-top: 0;
  padding-bottom: var(--dwc-space-m);
}

.app-nav {
  background: transparent;
}

.app-nav dwc-tab::part(tab-wrapper) {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-3xs);
  min-width: unset;
  padding: var(--dwc-space-xs) var(--dwc-space-s);
}

.app-nav dwc-tab::part(prefix) {
  --dwc-icon-size: 1.5em;
  cursor: pointer;
}

.app-nav dwc-tab::part(label) {
  font-size: var(--dwc-font-size-xs);
}
